
*{padding:0;margin:0;font-family: arial}
li{list-style: none;}
img{border:none;}
a{text-decoration: none;}
a:hover{text-decoration: underline;}

body{background:#fff url(img/top_bg.jpg)  repeat-x;}

#top{width:960px;margin:0 auto;height:30px;}

.top_menu{float:left;}
.top_menu li{float:left;background: url(img/top_ico.png) no-repeat right 14px; font-size:13px;padding-right: 18px;margin-right: 15px}
.top_menu a{color:#c0c0c0;line-height: 30px;margin-right:10px}
.top_menu a:hover{color: #fff}
.top_menu .no_dot{ background:none; padding:0; margin:0;}

.top_bar{float:right;}
.top_bar li{float: left;height: 30px;color: #fff;font-weight: bold;font-size: 13px;line-height: 30px;}
.top_bar .phone{background: url(img/top_ico.png) no-repeat 0 -14px;padding:0 38px;}
.top_bar .help{background: url(img/top_ico.png) no-repeat 0 -45px;padding:0 38px;}
.top_bar .help a{color:#fff;}

.ie6_img img { float:left; position:relative; top:10px; }

.top_bar .space{margin-right: 12px}

#header{width:960px; height: 100px;margin:0 auto;position: relative;background: url(img/header_bg.png) no-repeat;}
#shopping{width:260px;height: 100px;background: url(img/shopping_bg.png) no-repeat;position:relative;}
#shopping p{color: #f7f7f7;font-size: 20px;font-family: arial;padding:30px 0 0 84px;}
#shopping a{display: block; width:114px; height:23px;background: url(img/shopping_bg.png) no-repeat 0 -107px;
            position:absolute; top:63px; left:104px;color: #ffc200;font-size: 15px;text-decoration: none;
            font-weight: bold;line-height: 23px;text-align: center;}
#shopping a:hover{color:#ffe388;}
#header h1{width: 237px;position:absolute; top:0.5px; left:50%;margin-left:-118.5px;}
#header .search{top:33px;right: 0px}
.search{width:292px;height: 31px; background: url(img/search_bg.png) no-repeat;position: absolute;}
.search .text{width: 230px;height: 30px;line-height: 30px; position: absolute;top:0;left:0;background: none;border: none;
              font-size: 13px;color: #666;padding-left: 20px;outline: none;}
.search .btn{width: 42px;position: absolute;top:0;right: 0;background: none;border: none;height: 30px}


#nav{width: 960px;height:36px;margin:0 auto;padding-top: 8px}
#nav li{float: left;height: 28px;margin-right: 2px}
#nav a{float: left;height: 28px;text-decoration: none;
	   font-size: 15px;color: #fff;font-family: arial;line-height: 28px}
#nav strong{float: left;height: 28px;font-weight: normal;}
#nav span{float: left;height: 28px;padding: 0 16px;}

#nav a:hover ,#nav .active a:hover{background: url(img/nav_1.png) no-repeat left;}
#nav a:hover strong,#nav .active strong{background: url(img/nav_2.png) repeat-x;}
#nav a:hover span,#nav .active span{background: url(img/nav_3.png) no-repeat right;}


#content{width:1000px; margin:24px auto 0;background: url(img/content_bg.png) repeat-y -1000px 0;}
#content_top{width: 1000px;background: url(img/content_bg.png) no-repeat;}
#content_bottom{width:1000px;background: url(img/content_bg.png) no-repeat -2000px bottom;padding-top: 10px}

#ad{width:940px;height:300px;position: relative;margin:0 auto;}
#ad ul{position: absolute;top:0;left:0;z-index: 1}
#ad li{position: absolute;top:0;left:0;}
#ad h2{position: absolute;bottom:9px;left:0;z-index: 3;width: 268px;text-align: center;font-size: 25px;
	   font-weight: bold;color: #ffc600}
#ad p{position: absolute;bottom:7px;left:0;z-index: 3;color:#fcc;left:268px;font-size: 13px;font-family: arial;
      line-height: 16px;width: 630px}
#ad .bg{width: 940px;height: 52px;background: #000;filter:olpha(opacity(80));opacity:0.8;
	    position: absolute;bottom:0;left:0;z-index: 2}
      
#ad .next,#ad .prev{ width:75px; height:150px; margin-top:-75px; position:absolute; top:50%; z-index:6; display:none; }
#ad .prev { background:url(img/prev.png); left:0; }
#ad .next { background:url(img/next.png); right:0; }
#ad .prev_bg,#ad .next_bg { position:absolute; top:0; z-index:5; width:470px; height:300px; filter:alpha(opacity:0); opacity:0; }
#ad .prev_bg { left:0; background:yellow; }
#ad .next_bg { right:0; background:red; }


#main{width:942px;margin:0 auto; /*border: 1px solid #333;*//*position: relative;*/ padding-top: 30px}
#side{width: 210px;float: left;}
#wrap{width: 706px;float:right;/*position:relative; margin-left: 236px;margin-bottom: 50px*/}


.clear { zoom:1; }
.clear:after { content:''; display:block; clear:both; }

.module_menu{margin-bottom: 12px}
.module_menu h2{height: 29px;line-height: 28px;font-size: 15px;color:#fff;text-align: center;
                 background: url(img/module_menu_bg.png) repeat-x 0 -58px;margin-bottom: 1px}
.module_menu h2 strong{display: block; height: 29px;background: url(img/module_menu_bg.png) no-repeat;}
.module_menu h2 span{display: block; height: 29px;background: url(img/module_menu_bg.png) no-repeat right -29px;}


.list{background: url(img/list_bg.gif) repeat-y;}
.list ul{background: url(img/list_bg.gif) no-repeat -210px bottom;padding:18px 8px 15px;} 
.list a{display: block;height:27px;line-height:27px;border-bottom: 1px solid #fff;color: #434343;text-decoration: none;
        padding-left: 32px;font-weight: bold;font-size:12px }
.list a:hover{color:#b20e00; border-bottom: 1px solid #b20e00;background: #fae191;text-decoration: none;} 


.module_join{background: url(img/list_bg.gif) repeat-y -630px 0 }
.module_join_t {background: url(img/list_bg.gif) no-repeat -420px 0}
.module_join_b {background: url(img/list_bg.gif) no-repeat -840px bottom }

.join_from{width: 180px;margin:0 auto ;}
.join_from p{font-size: 15px;color:#666;line-height: 18px;padding: 12px 0;font-weight: bold;}
.join_from .text{width:175px;height: 25px;line-height: 25px;background: #fff;border:#fff 1px solid;border-top:1px solid #9c9c9c;
                  border-left:1px solid #c0c0c0;margin-bottom: 6px}
.join_from .btn{width:88px;height: 25px;border:none;font-size: 15px;color: #fff;font-weight: bold;
                  background: url(img/btn.jpg); margin:0 auto;display:block;margin-bottom: 12px}

.join_list{width:192px; background: url(img/shopping_bg.png) no-repeat 10px -130px;margin:0 auto;}
.join_list li{border-top: #fff 1px solid;padding-left: 62px;color: #434343;font-size: 13px; }

.space1{height:45px;line-height:45px}
.space2{height:38px;padding-top: 5px;line-height: 18px;}
.space3{height:45px;padding-top: 5px;line-height: 18px;}

#payment{margin-left: 5px;margin-top: 27px}

.sort{/*border: 1px solid #333;*/height: 20px}
.sort dl{float: left;}
.sort dt{float: left;color: #747474;font-weight: bold;font-size: 12px;padding-right: 2px}
.sort dd{float: left;position: relative;width:109px;height:19px;margin-right: 12px}
.sort h2{width: 108px;height: 17px;border:1px solid #ccc;font-size: 12px;color: #747474;font-weight: normal;
	     text-indent: 5px;}
.sort a{position: absolute; width: 19px;height: 19px;top:0;left:90px;
         background: url(img/shopping_bg.png) 0 -323px;z-index: 2}
.sort a:hover{background: url(img/shopping_bg.png) -19px -323px}
.sort ul{width: 108px;border:1px solid #ccc;background: #fff;position: absolute;top:18px;left:0;z-index: 1;
         display: none;}
.sort li{font-size: 12;line-height: 20px;text-indent: 5px;cursor:pointer;}
.sort .active{background: #333;color:#fff;}
.sort p{font-size: 12px;float: right;color: #747474;}
.sort p strong{color: #999999;}
.sort p span{padding:0 5px;}
.sort .color_style{color:#b20e00;}

.pic_list{width:706;overflow: hidden;}
.pic_list h2,#scroll_list h2{font-size: 18px;color:#666;line-height: 57px;height:56px;overflow: hidden;}
.pic_list ul{width:736px;}
.pic_list li{float: left;width:182px;height: 200px}
.pic_list a{display: block; width:154px;height:114px;border:1px solid #c6c6c6;margin-bottom: 7px}
.pic_list a:hover{border: 1px solid #663;}
.pic_list h3{color: #666;/*font-weight: bold;*/font-size: 15px;line-height: 15px}
.pic_list p{color: #333;font-size: 13px;line-height: 15px}
.pic_list span{color:#b20e00}

.page{text-align: center;border-bottom: 1px solid #cdcdc8;padding-bottom: 5px}
.page a{display: inline-block;height: 20px;line-height: 20px; padding:0 8px;color: #b20e00;text-decoration: none;font-size: 12px}
.page a:hover,page .active{color: #fff;background: #b20e00}
.page span{font-family: '宋体'}

#scroll_list{}
#scroll_list h2{}

.scroll_wrap{height: 196px;background: url(img/scroll_bg.gif) repeat-x 0 -480px}
.scroll_wrap_l{height: 196px;background: url(img/scroll_bg.gif) no-repeat 0 -87px}
.scroll_wrap_r{height: 196px;background: url(img/scroll_bg.gif) no-repeat right -285px;position: relative;}

.prev,.next{width: 35px;height: 43px;position: absolute;top:71px;}
.prev{background: url(img/scroll_bg.gif) no-repeat;left:0;}
.next{background: url(img/scroll_bg.gif) no-repeat 0 -43px;right:0;}

.list_wrap{width: 615px;/*background: yellow;*/margin:0 auto;padding-top: 32px;height: 150px;
           position: relative;overflow: hidden;}
.list_wrap ul{height: 150px;position: relative;left:0;}
.list_wrap li{width: 205px;float:left;/*position:absolute;*/}
.list_wrap a{width: 145px;height: 100px;display: block;margin:0 auto;}
.list_wrap p{height: 100px;width:145px;margin:0 auto;font-size: 12px;color: #600;text-align: center;
             line-height: 14px;padding-top: 10px;}

#footer{height: 302px;background: url(img/footer_bg.gif) repeat-x}
#footer_info{width: 940px;height: 60px;margin:0 auto;position: relative; }
#footer_info p{height:60px; line-height:60px; color:#cbcbcb; font-size:14px; font-weight:bold; float:left;}
#footer_info .ico1{background:url(img/footer_info.png) no-repeat 0 4px; text-indent:60px; margin-right:25px;}
#footer_info .ico2{background:url(img/footer_info.png) no-repeat 0 -52px; text-indent:50px;}
#footer_info .search{position:absolute; top:15px; right:-10px;}

#footer_link { width:920px; margin:0 auto; overflow:hidden; padding-top:20px; }
#footer_link dl { float:left; width:184px; }
#footer_link dt { font-size:15px; color:#fff; font-weight:bold; line-height:50px; }
#footer_link dd { line-height:20px; }
#footer_link span{color: #ffcc00}
#footer_link a { font-size:13px; color:#cfcfcf;/* text-decoration: none;*/}
#footer_link .space { padding-top:20px; }
#footer_link .pos { position:relative; left:-20px; }

